{% extends 'base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/dash.css' %}">

<!-- confirmationUpdateRepos Modal -->
<div class="modal fade" id="confirmationUpdateRepos" tabindex="-1" role="dialog" aria-labelledby="confirmationUpdateReposLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationUpdateReposLabel">Confirm repositories update</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Would you like to update your repositories at this moment?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a href="/user/{{ user.login }}/update_repos"><button type="button" class="btn btn-primary">Yes</button></a>
            </div>
        </div>
    </div>
</div>

<!-- confirmationDeleteTag Modal -->
<div class="modal fade" id="confirmationDeleteTag" tabindex="-1" role="dialog" aria-labelledby="confirmationDeleteTagLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationDeleteTagLabel">Confirm tag deletion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="confirmationDeleteTagModalBody" class="modal-body">
                Would you like to delete the tag "[TAG]" from repository "[REPOSITORY]"?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="confirmTagDeletion" type="button" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>

<!-- createTag Modal -->
<div class="modal fade" id="createTag" tabindex="-1" role="dialog" aria-labelledby="createTagLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createTagLabel">Create tags</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div id="tagsAlertSpace" class="offset-2 col-8"></div>
                </div>
                <div class="row">
                    <div class="offset-1 col-6 offset-lg-1 col-lg-8">
                        <div class="form-group row">
                            <input id="newTag" type="text" class="form-control" placeholder="Tag (ex: Python)" required="true">
                        </div>
                    </div>
                    <div class="col-4 col-lg-2">
                        <button id="addTag" type="button" class="btn btn-outline-success btn-block"><i class="fas fa-plus-circle"></i> Add</button>
                    </div>
                </div>
                <div class="row">
                    <div id="tagsCreationSpace" class="offset-1 col-10"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="confirmTagsCreation" type="button" class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>

<div class="row mr-0 ml-0 profile">
    <div class="col-12 offset-lg-1 col-lg-10 offset-xl-1 col-xl-10">
        <br>
        <div class="row">
            <div class="col-12 col-lg-6">
                {% if user.name %}
                    <h2 class="d-none d-lg-block profile-text"><i class="fab fa-github-alt"></i> {{ user.name }}</h2>
                    <h2 class="d-lg-none text-center profile-text"><i class="fab fa-github-alt"></i> {{ user.name }}</h2>
                {% else %}
                    <h2 class="d-none d-lg-block profile-text"><i class="fab fa-github-alt"></i> ---</h2>
                    <h2 class="d-lg-none text-center profile-text"><i class="fab fa-github-alt"></i> ---</h2>
                {% endif %}
            </div>
            <div class="col-12 col-lg-6">
                {% if user.location %}
                    <div class="d-none d-lg-block text-small profile-text"><i class="fas fa-map-marker-alt"></i> {{ user.location }}</div>
                    <div class="d-lg-none text-center text-small profile-text"><i class="fas fa-map-marker-alt"></i> {{ user.location }}</div>
                {% else %}
                <div class="d-none d-lg-block text-small profile-text"><i class="fas fa-map-marker-alt"></i> ---</div>
                <div class="d-lg-none text-center text-small profile-text"><i class="fas fa-map-marker-alt"></i> ---</div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-2 text-center custom-href username-text">
                <a target="_blank" rel="noopener noreferrer" href="{{ user.html_url }}">
                    <small class="profile-text">{{ user.login }}</small>
                </a>
            </div>
            {% if request.user.username == user.login %}
                <div class="d-none d-lg-block offset-lg-4 col-lg-2">
                    <h5><span class="badge badge-pill badge-success"><i class="fas fa-thumbs-up"></i> This is your own dashboard</span></h5>
                </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-12 col-lg-2">
                <a target="_blank" rel="noopener noreferrer" href="{{ user.html_url }}">
                    <img class="avatar center" src="{{ user.avatar_url }}" alt="User avatar">
                </a>
            </div>
            {% if request.user.username == user.login %}
                <div class="d-lg-none col-lg-12 text-center">
                    <br>
                    <h5><span class="badge badge-pill badge-success"><i class="fas fa-thumbs-up"></i> This is your own dashboard</span></h5>
                </div>
            {% else %}
                <div class="d-lg-none col-lg-12">
                    <br>
                </div>
            {% endif %}
            <div class="col-12 col-lg-10">
                <div class="row">
                    {% if request.user.username == user.login %}
                        <div class="col-6 col-lg-2 profile-card">
                            <div class="card h-85 border-secondary mb-3 text-center text-small">
                                <div class="card-header h-100">Commits</div>
                                <div class="card-body text-secondary">
                                    <p class="card-text">{{ user.commits }}</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if request.user.username == user.login %}
                        <div class="col-6 col-lg-2 profile-card custom-href">
                    {% else %}
                        <div class="col-12 col-lg-4 profile-card custom-href">
                    {% endif %}
                        <a target="_blank" rel="noopener noreferrer" href="{{ user.repos_url }}">
                            <div class="card h-85 border-secondary mb-3 text-center text-small">
                                <div class="card-header h-100">Public Repos</div>
                                <div class="card-body text-secondary">
                                    <p class="card-text">{{ user.public_repos }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% if request.user.username == user.login %}
                        <div class="col-6 col-lg-2 profile-card custom-href">
                    {% else %}
                        <div class="col-6 col-lg-4 profile-card custom-href">
                    {% endif %}
                        <a target="_blank" rel="noopener noreferrer" href="{{ user.followers_url }}">
                            <div class="card h-85 border-info mb-3 text-center text-small">
                                <div class="card-header h-100">Followers</div>
                                <div class="card-body text-info">
                                    <p class="card-text">{{ user.followers }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% if request.user.username == user.login %}
                        <div class="col-6 col-lg-2 profile-card custom-href">
                    {% else %}
                        <div class="col-6 col-lg-4 profile-card custom-href">
                    {% endif %}
                        <a target="_blank" rel="noopener noreferrer" href="{{ user.following_url }}">
                            <div class="card h-85 border-info mb-3 text-center text-small">
                                <div class="card-header h-100">Following</div>
                                <div class="card-body text-info">
                                    <p class="card-text">{{ user.following }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% if request.user.username == user.login %}
                        <div class="col-12 col-lg-4 profile-card custom-href">
                            <div class="card h-85 border-success mb-3 text-center text-small cursor" data-toggle="modal" data-target="#confirmationUpdateRepos">
                                <div class="card-header h-100"><i class="fa fa-sync"></i></div>
                                <div class="card-body text-success">
                                    <p class="card-text">Update Repos</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="row mr-0 ml-0">
    <div id="searchAlertSpace" class="offset-2 col-8"></div>
</div>
<div class="row mr-0 ml-0">
    <div class="offset-1 col-6 offset-lg-2 col-lg-6">
        <div class="form-group row">
            <input id="searchTag" type="text" class="form-control" placeholder="Tag (ex: Python)" required="true">
        </div>
    </div>
    <div class="col-5 col-lg-2">
        <button id="goSearch" type="button" class="btn btn-outline-success btn-block"><i class="fas fa-search"></i> Search</button>
    </div>
</div>
<div class="row mr-0 ml-0">
    <div id="tagsCreationSpaceSearch" class="offset-1 col-10"></div>
</div>

<div class="row mr-0 ml-0">
    <div class="offset-1 col-10 offset-lg-1 col-lg-10">
        <br>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Repository</th>
                        {% if request.user.username == user.login %}
                            <th scope="col">Commits</th>
                        {% endif %}
                        <th scope="col">Top language</th>
                    </tr>
                </thead>
                {% for repository in repositories %}
                    <tbody>
                        <tr data-toggle="collapse" data-target="#accordion{{repository.index}}" style="cursor: pointer;" data-toggle-2="tooltip" title="Click to open/close details.">
                            <th scope="row">{{ repository.index }}</th>
                            <td><i class="fab fa-github"></i> <b>{{ repository.name }}</b>{% if repository.is_private %} <span class="badge badge-pill badge-dark">Private</span>{% endif %} {% if repository.is_fork %} <span class="badge badge-pill badge-secondary">Fork</span>{% endif %}</td>
                            {% if request.user.username == user.login %}
                                <td>{{ repository.user_commits }}</td>
                            {% endif %}
                            {% if repository.language %}
                                <td>{{ repository.language }}</td>
                            {% else %}
                                <td>---</td>
                            {% endif %}
                        </tr>
                        <tr id="accordion{{repository.index}}" class="collapse">
                            <td></td>
                            <td colspan="3">
                                {% if repository.description %}
                                    <p>{{ repository.description }}</p>
                                {% endif %}
                                <p class="custom-href">
                                    <a target="_blank" rel="noopener noreferrer" href="{{ repository.html_url }}">
                                        <i class="fab fa-github-square"></i> {{ repository.full_name }}
                                    </a>
                                </p>
                                {% if repository.tags %}
                                    <p>
                                        {% for tag in repository.tags %}
                                            <span to_select="existingTag" repository="{{ repository.id }}" repository_name="{{ repository.name }}" class="badge badge-pill badge-warning cursor" data-toggle="modal" data-target="#confirmationDeleteTag">{{ tag }}</span>
                                        {% endfor %}
                                    </p>
                                {% endif %}
                                {% if request.user.username == user.login %}
                                    <p><button name="buttonOpenModalTags" repository="{{ repository.id }}" type="button" class="btn btn-outline-success btn-sm float-right" data-toggle="modal" data-target="#createTag">Create tags</button></p>
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
<script src="{% static 'js/dash.js' %}"></script>

{% endblock %}
