.profile {
    background: #565273;
}

.profile-text {
    color: white;
}

.profile-card {
    padding-top: 5px;
    padding-bottom: 5px;
}

.avatar {
    border-radius: 50%;
    max-width: 100px;
    max-height: 100px;
}

.avatar.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.username-text {
    margin-top: 10px;
}

.text-small {
    font-size: 80%;
    font-weight: 400;
}

.cursor {
    cursor: pointer;
}

.h-85 {
    height: 85%!important;
}
